@import "layout/layout";
@import "var";
@import"components/components";
@import"keyframes";

*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
}
h3{
    font-family: 'Cormorant', serif;
    font-size: 25px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}
.section__bg--index{
    background-image: url(../img/indexph.jpg);
    height: 620px;
    position: relative;
    z-index: 1;
}
.navbar--color{
    background-image: linear-gradient(135deg, #005697, #000080);
}
.section__textbox--deco{
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
}
.textcolor--index{
    color: $buttoncolor;
}
.textcolor--trabajos{
    color: $textcolorbright;
}
.textcolor--servicios{
    color: $textcolorbright;
}
.foot--bg{
    background-color: black;
    color: white;

}
@for $i from 1 through 4 {
    .section__bg--trab#{$i}{
        position: relative;
        background-image: url(../img/trab#{$i}.jpg);
        background-size: cover;
        
        height: 620px;
        background-color: rgba(0,0,0,0.7);
        background-blend-mode: darken;
    }
}

@for $n from 2 through 4 {
    .section__textbox--trabajos#{$n}{
        @extend .section__textbox--trabajos;
        
    }

}
.section__bg--prod{
    @extend .section__bg--index;
    background-image: url(../img/prodph.jpg);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    background-attachment: fixed;
    position: static;
    
}
.section__bg--serv{
    @extend .section__bg--prod;
    background-image: url(../img/servph.jpg);
    height: 1200px;
}
.section__bg--cont{
    background-color: #fff;
    height: 620px;
}
@import"layout/mq";