.navbar{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
}
.navbar__cont1{
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: absolute;
    bottom: 75px;
}
.navbar__cont2{
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}
.section__textbox{
    position: absolute;
    top: 200px;
    width: 80%;
    left: 5%;
    padding: 10px;
}
.section__textbox--serv{
    position: static;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.foot{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 30vh;
}
.foot__txt{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 10px;
    
}
.body__section--trabajos{
    display: flex;
    flex-flow: column nowrap;
    height: 400vh;
}
.section__textbox--trabajos{
    @extend .section__textbox
}
.section__prod{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px;
    height: 100px;
}
.prod__img{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 5px;
}
.prod__txt{
    width: 50%;
    margin-left: 5px;
    color: white;
}


*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
}
h3{
    font-family: 'Cormorant', serif;
    font-size: 33px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}
.section__bg--index{
    background-image: url(../img/indexph.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.navbar--color{
    background-image: linear-gradient(135deg, #005697, #000080);
}
.section__textbox--deco{
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
}
.textcolor--index{
    color: $buttoncolor;
}
.textcolor--trabajos{
    color: $textcolorbright;
}
.textcolor--servicios{
    color: $textcolorbright;
}
.foot--bg{
    background-color: black;
    color: white;

}
@for $i from 1 through 4 {
    .section__bg--trab#{$i}{
        position: relative;
        background-image: url(../img/trab#{$i}.jpg);
        background-size: cover;
        
        height: 100vh;
        background-color: rgba(0,0,0,0.7);
        background-blend-mode: darken;
    }
}

@for $n from 2 through 4 {
    .section__textbox--trabajos#{$n}{
        @extend .section__textbox--trabajos;
        
    }

}
.section__bg--prod{
    @extend .section__bg--index;
    background-image: url(../img/prodph.jpg);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    background-attachment: fixed;
    position: static;
    
}
.section__bg--serv{
    @extend .section__bg--prod;
    background-image: url(../img/servph.jpg);
    height: 1200px;
}
.section__bg--cont{
    background-color: #fff;
    height: 620px;
}

.img--cont{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.h2prod{
    font-size: 15px;
}
.h3prod{
    font-size: 15px;
}
.h4prod{
    font-size: 15px;
}